body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.nav {
  background-color: #fff;
}

.nav .logo {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;
}

.nav .nav-mobile {
  display: none;
}

.nav .nav-item {
  padding-left: 3%;
}

.nav .nav-item .it {
  display: inline-block;
  padding-bottom: 33px;
  cursor: default;
  color: #333333;
  font-family: Calibri;
  font-size: 18px;
  padding-left: 35px;
  text-decoration: none;
  padding-top: 33px;
  font-weight: 700;
}

.nav .nav-item .dropdown-child {
  display: none;
  opacity: 0;
  top: 93px;
  left: 12%;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  height: 460px;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
}

.nav .nav-item .dropdown-child .subtitle-text {
  display: none;
}

.nav .nav-item .dropdown-child .subtitle-logo {
  display: none;
}

.nav .nav-item .dropdown-child li {
  position: relative;
  padding-top: 22px;
  width: 300px;
  list-style-type: none;
}

.nav .nav-item .dropdown-child li a {
  position: relative;
  display: block;
  padding-left: 20px;
  text-decoration: none;
  color: #08131f;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 700;
}

.nav .nav-item .dropdown-child li a:hover {
  padding-left: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .nav-item .dropdown-child li:before {
  position: absolute;
  -webkit-transition-property: all;
  transition-property: all;
  content: "";
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 5px;
  background: #d5d5d5;
  margin-top: 10px;
}

.nav .nav-item .dropdown-child li:hover:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 5px;
  background: #e60000;
}

.nav .nav-item .dropdown-child li:hover:before a:hover {
  padding-left: 30px;
}

.nav .nav-item .dropdown-child .dropdown-child-info {
  width: 491px;
  height: 348px;
  margin: auto;
  background: url(../img/vector.jpg);
  background-origin: padding-box;
}

.nav .nav-item .dropdown-child .dropdown-child-info img {
  padding-top: 33px;
  padding-left: 17px;
}

.nav .nav-item .dropdown-child .dropdown-child-info .title {
  padding-left: 50px;
  padding-top: 16px;
  width: 335px;
  color: #08131f;
  font-family: Calibri;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.nav .nav-item .dropdown-child .dropdown-child-info p {
  width: 335px;
  padding-left: 50px;
  font-family: Calibri;
  font-size: 13px;
  line-height: normal;
  color: #333333;
}

.nav .nav-item .dropdown-child .dropdown-child-info p a {
  color: #333333;
}

.nav .nav-item .dropdown-child .dropdown-child-info-main {
  padding-top: 30px;
}

.nav .nav-item .Production:hover .dropdown-child {
  opacity: 1;
  display: block;
}

.nav .visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.nav .nav-mobile {
  background-color: #fff;
  display: none;
}

.nav .nav-mobile .menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 25px;
  height: 40px;
}

.nav .nav-mobile .menu-global {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  border-top: 4px solid #333333;
  width: 100%;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.nav .nav-mobile .menu-top {
  top: 32px;
}

.nav .nav-mobile .menu-middle {
  top: 41px;
}

.nav .nav-mobile .menu-bottom {
  top: 50px;
}

.nav .nav-mobile .menu-top-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 35px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: 0.55s 0.5s;
  transition: 0.55s 0.5s;
}

.nav .nav-mobile .menu-middle-click {
  opacity: 0;
}

.nav .nav-mobile .menu-bottom-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 35px;
  -webkit-transform: rotate(-410deg);
          transform: rotate(-410deg);
  -webkit-transition: 0.55s 0.5s;
  transition: 0.55s 0.5s;
}

.nav .nav-mobile .nav-mobile-block {
  position: absolute;
  display: none;
  top: 100%;
  left: 7%;
}

.nav .nav-mobile .nav-mobile-block .item-mobile {
  padding-top: 15px;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .item {
  color: #333333;
  font-family: Calibri;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .clicked {
  color: #333333;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown {
  display: none;
  overflow: hidden;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown ul {
  width: 90%;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown li {
  list-style-type: none;
  text-decoration: none;
  font-weight: 700;
  color: #333333;
  font-family: Calibri;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown li .dropdown-child-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 15px;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown li .dropdown-child-item:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  margin-top: 10px;
  padding-right: 15px;
  margin-right: 15px;
  height: 5px;
  background: #d5d5d5;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown li .nav-mobile {
  display: block;
}

.nav .nav-mobile .nav-mobile-block .item-mobile .dropdown li .dropdown-child-item:hover:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 10px;
  width: 25px;
  height: 5px;
  background: #e60000;
}

.menu-search {
  margin: auto;
  padding-left: 3%px;
}

.nav-inform {
  text-align: right;
  margin-left: auto;
  padding-right: 60px;
  padding-top: 21px;
  font-family: Calibri;
  font-weight: 700;
}

.nav-inform .phone-number {
  font-size: 24px;
}

.nav-inform .phone-number a {
  text-decoration: none;
  color: #333333;
}

.nav-inform .back-coll {
  font-size: 15px;
  color: #e60000;
}

.nav-inform .back-coll a {
  text-decoration: none;
}

@media screen and (min-device-width: 250px) and (max-width: 339px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 12%;
    padding-left: 14%;
  }
  .nav .nav-mobile-block {
    display: none;
  }
  .nav .nav-mobile-block-item {
    display: block;
  }
  .nav .menu-global {
    left: 0;
  }
}

@media screen and (min-device-width: 340px) and (max-width: 385px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-left: 20%;
    padding-right: 12%;
  }
}

@media screen and (min-device-width: 386px) and (max-width: 499px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-left: 26%;
    padding-right: 12%;
  }
}

@media screen and (min-device-width: 500px) and (max-width: 649px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 12%;
    padding-left: 40%;
  }
}

@media screen and (min-device-width: 650px) and (max-width: 766px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 12%;
    padding-left: 49%;
  }
}

@media screen and (min-device-width: 767px) and (max-width: 1023px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    display: none;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 12%;
    padding-left: 54%;
  }
  .nav .menu-global {
    right: 15px;
  }
}

@media screen and (min-device-width: 1024px) and (max-width: 1279px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 7%;
  }
  .nav .nav-inform {
    margin-left: 10px;
    display: block;
    padding-top: 13px;
  }
  .nav .nav-item {
    display: none;
  }
  .nav .nav-mobile {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 5%;
    padding-left: 40%;
  }
  .nav .sub {
    width: 100%;
  }
}

@media screen and (min-device-width: 1280px) and (max-width: 1350px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 2%;
  }
  .nav .nav-inform {
    margin-left: 10px;
    display: none;
    padding-top: 13px;
  }
  .nav .nav-item {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 5%;
    padding-left: 6%;
  }
  .nav .sub {
    width: 100%;
  }
  .nav .dropdown-child {
    padding-top: 80px;
  }
}

@media screen and (min-device-width: 1351px) and (max-width: 1500px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .logo {
    padding-top: 20px;
    padding-left: 2%;
  }
  .nav .nav-inform {
    display: block;
    padding-right: 0px;
    margin-left: 0;
  }
  .nav .nav-item {
    display: block;
  }
  .nav .menu-search {
    margin: auto 0;
    padding-right: 5%;
    padding-left: 2%;
  }
  .nav .sub {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */